* {
    margin: 0;
    padding: 0;
    font-size: 12px;
}
.content {
    position: relative;
    height: 400px;
    width: 500px;
}

.title {
    height: 30px;
}

.head {
    height: 80px;
}

.foot {
    position: absolute;
    bottom: 0;
    padding: 5px 10px;
    height: 22px;
    width: 480px;
    border-top: 1px solid #fff;
    text-align: right;
}

.btn {
    padding: 4px 15px;
    height: 22px;
    line-height: 12px;
    border: 1px solid #fff;
    border-radius: 2px;
    cursor: pointer;
}